.questions {
    padding-top: 80px;
    padding-bottom: 40px;
    .title {
        max-width: 505px;
        margin: 0 auto;
        &_2 {
            max-width: none;
            margin: 40px 0 20px;
        }
    }
    &__content {
        margin-top: 80px;
    }
    &__tabs {

    }
    &__tab {
        margin-bottom: 5px;
        &-title {
            width: 100%;
            display: block;
            background-color: white;
            color: #000000;
            font-size: 24px;
            font-family: 'Bodoni',Arial,sans-serif;
            line-height: 1.2;
            font-weight: 400;
            cursor: pointer;
            padding: 30px 40px;
            position: relative;
            user-select: none;
            @media (max-width:959px) {
                font-size: 20px;
                padding: 20px 20px;
                padding-right: 40px;
            }
            @media (max-width:479px) {
                font-size: 16px;
                padding: 10px;
                padding-right: 40px;
            }
            &:before {
                content: '';
                position: absolute;
                width: 46px;
                height: 46px;
                background-color: transparent;
                border-radius: 50%;
                right: 10px;
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
                transition: 0.3s ease;
                background-image: url(../img/cross.svg);
                background-size: 20px 20px;
                background-position: center;
                background-repeat: no-repeat;
                @media (max-width:959px) {
                    width: 23px;
                    height: 23px;
                    background-size: 10px 10px;
                }
            }
            &:hover {
                &:before {
                    background-color: #ebebed;
                }
            }
            &.active {
                &:before {
                    transform: translateY(-50%);
                }
            }
        }
        &-content {
            padding: 50px 60px;
            display: none;
            @media (max-width:959px) {
                padding: 20px;
            }
            p {
                color: #000000;
                font-size: 16px;
                font-family: 'Bodoni',Arial,sans-serif;
                line-height: 1.2;
                font-weight: 300;
            }
            ul {
                margin: 10px 0;
                padding-left: 20px;
                list-style: disc;
            }
            ol {
                margin: 10px 0;
                padding-left: 20px;
                list-style: decimal;
            }
        }
    }
    &__map {
        &-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width:959px) {
                flex-direction: column;
            }
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        &-info {
            color: #000000;
            font-size: 20px;
            font-family: 'Bodoni',Arial,sans-serif;
            line-height: 1.55;
            font-weight: 300;
            max-width: 386px;
            a {
                color: rgb(6, 63, 115);
                display: block;
                text-decoration: underline;
                transition: 0.3s ease;
                @media (max-width:959px) {
                    text-align: center;
                }
                &:hover {
                    opacity: 0.8;
                    text-decoration: none;
                }
            }
            p {
                color: #000000;
                font-size: 20px;
                font-family: 'Bodoni',Arial,sans-serif;
                line-height: 1.55;
                font-weight: 300;
                @media (max-width:959px) {
                    text-align: center;
                }
            }
        }
    }
}