.wait-you {
    padding-top: 40px;
    padding-bottom: 40px;
    &__content {
        
    }
    &__block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 80px;
        position: relative;
        @media (max-width:980px) {
            margin-top: 40px;
        }
        @media (max-width:479px) {
            flex-direction: column-reverse;
        }
        &_one {
            justify-content: space-between;
            &:before {
                content: '';
                position: absolute;
                background-image: url(../img/wait-you/arrow-1.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 390px;
                height: 217px;
                bottom: -160px;
                left: 260px;
                @media (max-width:980px) {
                    width: 228px;
                    height: 127px;
                    transform: rotate(-10deg);
                    bottom: -100px;
                    left: 160px;
                }
                @media (max-width:479px) {
                    display: none;
                }
            }
        }
        &_two {
            flex-direction: row-reverse;
            justify-content: flex-end;
            @media (max-width:479px) {
                flex-direction: column-reverse;
                align-items: center;
            }
            &:before {
                content: '';
                position: absolute;
                background-image: url(../img/wait-you/arrow-2.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 390px;
                height: 217px;
                bottom: -160px;
                left: 260px;
                @media (max-width:980px) {
                    width: 228px;
                    height: 126px;
                    bottom: -100px;
                    left: 150px;
                }
                @media (max-width:479px) {
                    display: none;
                }
            }
            .wait-you__title {
                max-width: 190px;
            }
            .wait-you__img {
                width: 50%;
                position: relative;
                left: -100px;
                @media (max-width:479px) {
                    width: 100%;
                    left: 0;
                }
            }
        }
        &_three {
            justify-content: space-between;
            margin-top: -40px;
            @media (max-width:479px) {
                margin-top: 0;
            }
            &:before {
                content: '';
                position: absolute;
                background-image: url(../img/wait-you/arrow-3.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 219px;
                height: 176px;
                bottom: 80px;
                left: 280px;
                @media (max-width:980px) {
                    width: 138px;
                    height: 111px;
                    left: 150px;
                }
                @media (max-width:479px) {
                    display: none;
                }
            }
            .wait-you__title {
                max-width: 280px;
            }
            .wait-you__text {
                max-width: 310px;
            }
        }
        &_four {
            justify-content: center;
            margin-top: -20px;
            @media (max-width:479px) {
                margin-top: 40px;
            }
            .wait-you__info {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: 0;
                @media (max-width:980px) {
                    align-items: flex-start;
                }
                @media (max-width:479px) {
                    align-items: center;
                }
            }
            .wait-you__text {
                max-width: 310px;
                margin-bottom: 40px;
            }
        }
    }
    &__info {
        padding-left: 50px;
        @media (max-width:980px) {
            padding-left: 0;
        }
    }
    &__title {
        color: #000000;
        font-size: 24px;
        font-family: 'Bodoni',Arial,sans-serif;
        line-height: 1.24;
        font-weight: 500;
        max-width: 327px;
        @media (max-width:980px) {
            font-size: 20px;
        }
        @media (max-width:479px) {
            text-align: center;
            margin: 0 auto;
        }
    }
    &__text {
        color: #000000;
        font-size: 16px;
        font-family: 'Bodoni',Arial,sans-serif;
        line-height: 1.24;
        font-weight: 300;
        max-width: 276px;
        margin-top: 40px;
        @media (max-width:980px) {
            font-size: 15px;
            margin-top: 20px;
        }
        @media (max-width:479px) {
            text-align: center;
            margin: 20px auto 0;
        }
    }
    &__img {
        flex: none;
        width: 50%;
        position: relative;
        @media (max-width:479px) {
            width: 100%;
        }
        img {
            &:nth-child(2) {
                -webkit-transform: rotate(3deg);
                -moz-transform: rotate(3deg);
                transform: rotate(3deg);
                position: relative;
                top: -50px;
                flex: none;
                left: 50%;
                transform: translateX(-50%);
                @media (max-width:479px) {
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}