<div class="benefits-2">
    <div class="wrapper">
        <h2 class="title title_center">Для нас каждое дело - самое важное</h2>
        <div class="benefits-2__content">

            <div class="benefits-2__block">

                <div class="benefits-2__img benefits-2__img_before">
                    <img src="img/benefits-2/1.webp" alt="">
                </div>

                <div class="benefits-2__info">
                    <h3 class="benefits-2__title">Борис Овдиенко</h3>
                    <span class="benefits-2__small-title">Основатель</span>
                    <p class="benefits-2__text">С нашей командой профессионалов вам не придётся испытывать стресс и тратить своё время на разрешение юридических задач.</p>
                </div>

            </div>

            <div class="benefits-2__block benefits-2__block_2">

                <div class="benefits-2__img">
                    <img src="img/benefits-2/2.webp" alt="">
                    <div class="benefits-2__img-info">
                        <a></a>
                        <p>РЕШЕНО В ПОЛЬЗУ КЛИЕНТА</p>
                    </div>
                </div>

                <div class="benefits-2__info">
                    <h3 class="benefits-2__title">Роман Баранников</h3>
                    <span class="benefits-2__small-title">Адвокат</span>
                    <p class="benefits-2__text benefits-2__text_2">Для следования высоким стандартам оказания услуг, мы активно применяем цифровые технологии для скорости и качества оказания профессиональной помощи.</p>
                </div>

            </div>

        </div>
    </div>
</div>