<div class="benefits">
    <div class="wrapper">
        <h2 class="title title_center">Защищаем ваши интересы от начала и до конца</h2>
        <div class="benefits__content">

            <div class="card-benefits">
                <a class="card-benefits__img" style="background-image: url(img/benefits/1.png);"></a>
                <h3 class="card-benefits__title">Списание <br> долгов</h3>
                <p class="card-benefits__text">Законно освобождаем вас от долгов по налогам, кредитам, штрафам, неустойкам, займам и другим задолженностям.</p>
            </div>

            <div class="card-benefits">
                <a class="card-benefits__img card-benefits__img_small" style="background-image: url(img/benefits/2.png);"></a>
                <h3 class="card-benefits__title">Процедура <br> под ключ</h3>
                <p class="card-benefits__text">Полностью берем на себя обязанность подготовки и подачи всех документов в суд и другие государственные органы.</p>
            </div>

            <div class="card-benefits">
                <a class="card-benefits__img" style="background-image: url(img/benefits/3.png);"></a>
                <h3 class="card-benefits__title">Гарантия <br> и договор</h3>
                <p class="card-benefits__text">Заключаем договор и оформляем нотариальную доверенность. Это ваша гарантия нашей надежности.</p>
            </div>

        </div>
    </div>
</div>