<div class="consult">
    <div class="wrapper">
        <div class="consult__content">

            <div class="consult__img">
                <img src="img/consult/back.webp" alt="">
                <div class="consult__img-content">
                    <div class="consult__img-logo">
                        <a href="/" class="logo"></a>
                    </div>
                    <h3 class="consult__img-title">План действий</h3>
                    <p class="consult__img-text">Мы находим несколько путей решения и вместе выбираем самый подходящий для вас</p>
                    <div class="consult__img-btn">
                        <a class="btn btn_trans" data-fancybox data-src="#popup-form">Получить</a>
                    </div>
                </div>
            </div>

            <div class="consult__info">
                <h2 class="title">Получите оценку своей ситуации на бесплатной консультации</h2>
                <ul class="consult__list list-check">
                    <h3 class="list-check__title">Вы узнаете:</h3>
                    <li>Можно ли вам списать все долги</li>
                    <li>Какие риски и нюансы могут случиться в вашем случае</li>
                    <li>Что для вас выгоднее: процедура банкротства или реструктуризация долга</li>
                </ul>
                <div class="consult__btn">
                    <a class="btn" data-fancybox data-src="#popup-form">Бесплатная консультация</a>
                </div>
            </div>
        </div>
    </div>
</div>