<footer class="footer">
	<div class="wrapper">
		<div class="footer__content">

			<div class="footer__elem">
				<div class="footer__logo">
					<a href="/" class="logo"></a>
				</div>
				<a href="tel:+79675980088" class="footer__number">+7 (967)-598-00-88</a>
				<a href="mailto:mail@b-o.group" class="footer__mail">mail@b-o.group</a>
			</div>

			<div class="footer__elem footer__elem_inf">
				<a href="" class="footer__politic">Политика конфиденциальности</a>
				<p class="footer__req">
					ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ОВДИЕНКО И ПАРТНЁРЫ" <br>
					ИНН:7814793908
				</p>
			</div>

			<div class="footer__elem">
				<div class="footer__btn">
					<a class="btn" data-fancybox data-src="#popup-form">Бесплатная консультация</a>
				</div>
			</div>

		</div>
	</div>
</footer>
