<header class="header">
	<div class="wrapper wrapper_header">
		<div class="header__content">

			<div class="header__logo">
				<a href="/" class="logo"></a>
			</div>

			<div class="header__nav">

				<div class="header__nav-logo">
					<a href="/" class="logo"></a>
				</div>

				<nav class="nav">
					<a href="/" class="nav__elem">Главная</a>
					<a href="/#stages" class="nav__elem">Как мы работаем</a>
					<a href="/#cases" class="nav__elem">Наш опыт</a>
					<a href="/#services" class="nav__elem">Услуги</a>
					<a href="/#team" class="nav__elem">Команда</a>
				</nav>

				<a href="tel:+79675980088" class="header__nav-number">+7 (967) 598-00-88</a>

			</div>

			<div class="header__contact">
				<a href="tel:+79675980088" class="header__number">+7 (967) 598-00-88</a>
				<p class="header__time">09:00-18:00</p>
			</div>

			<div class="header__burger">
				<a class="burger">
					<span></span>
				</a>
			</div>

			<!-- grey-back -->
			<div class="grey-back"></div>

		</div>
	</div>
</header>
