<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <!--metatextblock-->
  <title>Свобода от долгов через процедуру банкротства Овдиенко и Партнеры</title>
  <meta name="description" content="Избавляем от звонков банков и коллекторов. Проводим бесплатную экспертизу долга. Сохраняем ваше жилье. Получите оценку своей ситуации на бесплатной консультации и узнайте, можно ли вам списать долги" />
  <meta property="og:url" content="https://b-o.group/bankruptcy" />
  <meta property="og:title" content="Овдиенко и Партнеры " />
  <meta property="og:description" content="Помогаем вам решать юридические вопросы" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="img/og.jpg" />
  <link rel="canonical" href="https://b-o.group/bankruptcy">
  <!--/metatextblock-->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon.png">
  <link rel="apple-touch-startup-image" href="img/apple-touch-icon.png">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-TileImage" content="img/apple-touch-icon.png">
  <link rel="preload" href="fonts/MullerRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css" />
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
