<div class="questions">
    <div class="wrapper">
        <h2 class="title title_center">Ответы на часто задаваемые вопросы:</h2>
        <div class="questions__content">

            <div class="questions__tabs">

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-q-1">Какой у вас адрес?</a>
                    <div id="tab-q-1" class="questions__tab-content">

                        <div class="questions__map-block">

                            <div class="questions__map-info">
                                <a href="tel:+79675980088">+7 (967) 598-00-88</a>
                                <a href="mailto:mail@b-o.group">mail@b-o.group</a>
                                <p>Город Санкт-Петербург, ДЦ Веда-Хаус, Петроградская набережная, 20а</p>
                                <p>09:00-18:00</p>
                            </div>
                            <div class="questions__map">
                                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A243f94e4428a47bd8a2df89974427672ee8e73c236ee4a8829ecb977a606d1bd&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
                            </div>

                        </div>

                        <div class="questions__map-block">

                            <div class="questions__map-info">
                                <a href="tel:+79675980088">+7 (967) 598-00-88</a>
                                <a href="mailto:mail@b-o.group">mail@b-o.group</a>
                                <p>г. Краснодар, ул. Горького, 113</p>
                                <p>09:00-18:00</p>
                            </div>
                            <div class="questions__map">
                                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A4be3ceedb6525e81bc2a8ae620b2f9980e963ec1bd2af225d53abb3a2c4d8a22&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-q-2">Что такое реструктуризация в банкротстве?</a>
                    <div id="tab-q-2" class="questions__tab-content">
                        <p>Реструктуризация в банкротстве - это процедура, которая назначается арбитражным судом для восстановления платежеспособности гражданина. Назначается тем же судом, который рассматривает дело о банкротстве. Это план по погашению долга в оптимально удобном и щадящем варианте. Включает в себя предложения по изменению суммы долга, графика выплаты и сроков погашения. А также снижению процентных ставок и неустоек</p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-q-3">Что такое упрощенное банкротство?</a>
                    <div id="tab-q-3" class="questions__tab-content">
                        <p>Упрощенное банкротство - возможность административного списания долга вне стен суда. Происходит он путем подачи заявления в МФЦ. Для того, чтобы пройти процедуру банкротства в упрощенном порядке, нужно иметь долг от 50 000 до 500 000 тыс. руб. и пройти судебный и исполнительный этапы взыскания. При этом исполнительный лист должен быть возвращен приставом с пометкой о невозможности списания средств ввиду их отсутствия.</p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-q-4">Какие основные документы нужны при подаче заявления на признание банкротом?</a>
                    <div id="tab-q-4" class="questions__tab-content">
                        <p>Для процедуры банкротства закон требует основные следующие документы:</p>
                        <ul>
                            <li>Личные (паспорт СНИЛС, ИНН, свидетельства о заключении брака и рождении ребенка, брачный договор, решение о признании гражданина безработным);</li>
                            <li>Долговые и кредитные (справки из банка о задолженности, включая пени и штрафы, справка о наличии банковских счетов или вкладов, список кредиторов и должников);</li>
                            <li>Финансовые (копии документов, подтверждающих право собственности на имущество, договоры купли-продажи за последние 3 года, опись имущества, сведения из ПФ об индивидуальном счете, справки по форме 2-НФДЛ за последние 3 года от всех работодателей; копии налоговой декларации для ИП);</li>
                            <li>Квитанции об оплате госпошлин.</li>
                        </ul>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-q-5">Если нет доходов и имущества, мои долги перейдут к родственникам?</a>
                    <div id="tab-q-5" class="questions__tab-content">
                        <p>По общему правилу наследуются не только права, но и обязанности, в том числе оплата задолженностей и кредитов. Поэтому долги также включены в наследственную массу вне зависимости от наличия или отсутствия имущества. В случае согласия наследника/ов на ее принятие, не все долги переходят по наследству. Например те, которые связаны неразрывно с личностью умершего. Обязанность по выплате алиментов является одним из примеров такого обязательства.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>