<div class="questions">
    <div class="wrapper">
        <h2 class="title title_center">Ответы на часто задаваемые вопросы:</h2>
        <div class="questions__content">

            <div class="questions__tabs">

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-q-1">Какой у вас адрес?</a>
                    <div id="tab-q-1" class="questions__tab-content">

                        <div class="questions__map-block">

                            <div class="questions__map-info">
                                <a href="tel:+79675980088">+7 (967) 598-00-88</a>
                                <a href="mailto:mail@b-o.group">mail@b-o.group</a>
                                <p>Город Санкт-Петербург, ДЦ Веда-Хаус, Петроградская набережная, 20а</p>
                                <p>09:00-18:00</p>
                            </div>
                            <div class="questions__map">
                                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A243f94e4428a47bd8a2df89974427672ee8e73c236ee4a8829ecb977a606d1bd&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
                            </div>

                        </div>

                        <div class="questions__map-block">

                            <div class="questions__map-info">
                                <a href="tel:+79675980088">+7 (967) 598-00-88</a>
                                <a href="mailto:mail@b-o.group">mail@b-o.group</a>
                                <p>г. Краснодар, ул. Горького, 113</p>
                                <p>09:00-18:00</p>
                            </div>
                            <div class="questions__map">
                                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A4be3ceedb6525e81bc2a8ae620b2f9980e963ec1bd2af225d53abb3a2c4d8a22&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-q-2">Что такое реструктуризация в банкротстве?</a>
                    <div id="tab-q-2" class="questions__tab-content">
                        <p>Реструктуризация в банкротстве - это процедура, которая назначается арбитражным судом для восстановления платежеспособности гражданина. Назначается тем же судом, который рассматривает дело о банкротстве. Это план по погашению долга в оптимально удобном и щадящем варианте. Включает в себя предложения по изменению суммы долга, графика выплаты и сроков погашения. А также снижению процентных ставок и неустоек</p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-q-3">Что такое упрощенное банкротство?</a>
                    <div id="tab-q-3" class="questions__tab-content">
                        <p>Упрощенное банкротство - возможность административного списания долга вне стен суда. Происходит он путем подачи заявления в МФЦ. Для того, чтобы пройти процедуру банкротства в упрощенном порядке, нужно иметь долг от 50 000 до 500 000 тыс. руб. и пройти судебный и исполнительный этапы взыскания. При этом исполнительный лист должен быть возвращен приставом с пометкой о невозможности списания средств ввиду их отсутствия.</p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-q-4">Какие основные документы нужны при подаче заявления на признание банкротом?</a>
                    <div id="tab-q-4" class="questions__tab-content">
                        <p>Для процедуры банкротства закон требует основные следующие документы:</p>
                        <ul>
                            <li>Личные (паспорт СНИЛС, ИНН, свидетельства о заключении брака и рождении ребенка, брачный договор, решение о признании гражданина безработным);</li>
                            <li>Долговые и кредитные (справки из банка о задолженности, включая пени и штрафы, справка о наличии банковских счетов или вкладов, список кредиторов и должников);</li>
                            <li>Финансовые (копии документов, подтверждающих право собственности на имущество, договоры купли-продажи за последние 3 года, опись имущества, сведения из ПФ об индивидуальном счете, справки по форме 2-НФДЛ за последние 3 года от всех работодателей; копии налоговой декларации для ИП);</li>
                            <li>Квитанции об оплате госпошлин.</li>
                        </ul>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-q-5">Если нет доходов и имущества, мои долги перейдут к родственникам?</a>
                    <div id="tab-q-5" class="questions__tab-content">
                        <p>По общему правилу наследуются не только права, но и обязанности, в том числе оплата задолженностей и кредитов. Поэтому долги также включены в наследственную массу вне зависимости от наличия или отсутствия имущества. В случае согласия наследника/ов на ее принятие, не все долги переходят по наследству. Например те, которые связаны неразрывно с личностью умершего. Обязанность по выплате алиментов является одним из примеров такого обязательства.</p>
                    </div>
                </div>

                <!-- text -->

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-b-1">Банкротство физических лиц: как списать долги в 2022 году?</a>
                    <div id="tab-b-1" class="questions__tab-content">
                        <p>
                            Если у физического лица имеется задолженность, сумма которой превышает 500 тыс. руб., и эту задолженность он не в состоянии выплатить, этот гражданин имеет право заявить о собственной несостоятельности. Процедура осуществляется как черед суд, так и без его участия. Это также зависит от суммы задолженности и длительности просрочки.
                        </p>
                        <p>
                            Официальное банкротство физлица позволяет ему сбросить с плеч непосильный финансовый груз и полностью погасить задолженности перед большинством организаций, будь то ЖКХ, банки и так далее.
                        </p>
                        <p>
                            О том, как происходит процедура, рассмотрим подробнее.
                        </p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-b-2">Что собой представляет банкротство?</a>
                    <div id="tab-b-2" class="questions__tab-content">
                        <p>
                            Примерно у пятой части всех граждан РФ имеются кредитные задолженности, в среднем на сумму около 270 тыс. руб. Информация об этом обнародована Центробанком и Бюро кредитных историй. Также по имеющимся данным, 8 из 10 взявших кредит просрочили выплаты. Неспособность своевременно погашать собственные задолженности – ключевая причина денежной несостоятельности.
                        </p>
                        <p>
                            Физическое лицо может лишиться источника регулярных доходов по различным причинам. Кто-то может потерять наемную работу, либо собственный бизнес или же столкнуться с серьезными медицинскими проблемами. А кто-то – может попасть на мошенников. Некоторым пунктам особенно «благоволит» пандемия. Так, например, за первые 6 месяцев 2021 года частных бизнесов перестало существовать вдвое больше, чем ранее, а количество мошенничеств подскочило почти на четверть.
                        </p>
                        <p>
                            Потому для некоторых россиян личное банкротство - единственный способ избавиться от задолженностей. Ведь, по сути своей, банкротство физлиц – это избавление от всех имеющихся долгов. Закон об этом был принят еще в 2015. Процесс можно воплотить как в арбитражном, так и в упрощенном варианте.
                        </p>
                        <p>
                            Его можно оформить как самостоятельно, так и через посредников. Подробнее обо всем в материале.
                        </p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-b-3">В каких случаях помогает банкротство?</a>
                    <div id="tab-b-3" class="questions__tab-content">
                        <p>
                            Прежде всего, стоит понимать, что процедура банкротства, хоть и поможет в большинстве случаев, но все же не является панацеей. И этим нельзя воспользоваться для абсолютно любого вида задолженности. К примеру, это долги перед близкими, а также задолженность, возникшая из-за причинения морального либо материального ущерба.
                        </p>
                        <p>
                            В частности, нет смысла подавать заявление о банкротстве, если это касается таких задолженностей, как:
                        </p>
                        <ul>
                            <li>
                                <p>
                                    алименты;
                                </p>
                            </li>
                            <li>
                                <p>
                                    возмещение физического ущерба;
                                </p>
                            </li>
                            <li>
                                <p>
                                    долг по зарплате;
                                </p>
                            </li>
                            <li>
                                <p>
                                    долг, связанный с процедурой банкротства физлица;
                                </p>
                            </li>
                            <li>
                                <p>
                                    различные виды штрафов за преступления;
                                </p>
                            </li>
                            <li>
                                <p>
                                    субсидиарная ответственность.
                                </p>
                            </li>
                        </ul>
                        <p>
                            С другой стороны, поданное заявление поможет избавиться от непосильных задолженностей, которые относятся к категориям:
                        </p>
                        <ul>
                            <li>
                                <p>
                                    водительских;
                                </p>
                            </li>
                            <li>
                                <p>
                                    ипотечных;
                                </p>
                            </li>
                            <li>
                                <p>
                                    коммунальных;
                                </p>
                            </li>
                            <li>
                                <p>
                                    налоговых;
                                </p>
                            </li>
                            <li>
                                <p>
                                    связанных с кредитами либо рассрочками.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-b-4">Как проходит банкротство с участием арбитражного суда?</a>
                    <div id="tab-b-4" class="questions__tab-content">
                        <p>
                            Направить заявление о признании себя банкротом физлицу требуется в обязательном порядке в том случае, если:
                        </p>
                        <ul>
                            <li>
                                <p>
                                    должник неспособен проводить выплаты в соответствии с графиком;
                                </p>
                            </li>
                            <li>
                                <p>
                                    просрочка длится уже больше одного квартала;
                                </p>
                            </li>
                            <li>
                                <p>
                                    собственности должника не хватает, чтобы погасить все долги;
                                </p>
                            </li>
                            <li>
                                <p>
                                    сумма задолженности превышает полмиллиона рублей.
                                </p>
                            </li>
                        </ul>
                        <p>
                            В то же время, задолжник имеет право подать такое заявление, если уже выплатил часть долга, но остаток погасить не способен. В этом случае ни сумма долга, ни продолжительность просрочки не играют роли.
                        </p>
                        <p>
                            Заявление о банкротстве физлица должно быть подано в течение месяца с момента, когда возникли условия несостоятельности. Если физическое лицо не сделает этого самостоятельно, такое заявление могут подать его кредиторы. В соответствии с законодательными нормами, процесс банкротства физлица может быть начат ими тоже.
                        </p>
                        <p>
                            Признание физлица банкротом через арбитражный суд может длиться до года. На продолжительность этого процесса влияет множество нюансов. Например, является должник частным предпринимателем или нет. Кроме того, затянуть процедуру могут оспаривание сделок или возникновение различных сложностей с собственностью должника.
                        </p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-b-5">Как происходит процесс?</a>
                    <div id="tab-b-5" class="questions__tab-content">
                        <p>
                            Процедура признания физлица банкротом сложна, и заранее предполагает множество мелких процессов и деталей. Далее представлено пошаговое описание процесса банкротства посредством арбитражного суда.
                        </p>
                        <p>
                            Все начинается с подготовки обязательной документации. В число таких бумаг включены:
                        </p>
                        <ul>
                            <li>
                                <p>
                                    все личные документы, подтверждающие его личность, прописку, семейный статус, наличие детей и пр.;
                                </p>
                            </li>
                            <li>
                                <p>
                                    все, что подтверждает наличие задолженности – расписки, кредитные договора и т.д.;
                                </p>
                            </li>
                            <li>
                                <p>
                                    документы, относящиеся к личной собственности – это договора о купле-продаже за последние три года, свидетельства о праве владения;
                                </p>
                            </li>
                            <li>
                                <p>
                                    справки о наличии или неимении статуса частника, а также с места официального трудоустройства либо из центра занятости;
                                </p>
                            </li>
                            <li>
                                <p>
                                    квитанции об оплате государственной пошлины, а также других обязательных взносов относительно процесса банкротства.
                                </p>
                            </li>
                        </ul>
                        <p>
                            Основным признаком наличия банкротства, а также его ключевым доказательством является то, что физическое лицо более неспособно собственными силами погашать имеющиеся задолженности по той причине, что уровень дохода резко снизилась. Если в судебном порядке рассматриваются доказательства в пользу низкого дохода гражданина, но при этом он обладает большим количеством недешевого имущества – это определенно вызовет большие подозрения в попытке организации процесса подставного банкротства.
                        </p>
                        <p>
                            Последующий шаг это составление заявления. Задолжнику необходимо направить обращение в арбитраж по месту своего проживания. Примечательно, что документ должен быть составлен уже только после сбора всех требуемых бумаг.
                        </p>
                        <p>
                            Никакого строго очерченного формата для составления нет. Но обязательно требуется указать такие детали, как:
                        </p>
                        <ul>
                            <li>
                                <p>
                                    название арбитража;
                                </p>
                            </li>
                            <li>
                                <p>
                                    информацию о заявителе (его личные данные, данные о составе семьи, а также справки о наличии официальной работе и получении зарплаты);
                                </p>
                            </li>
                            <li>
                                <p>
                                    общую сумму всех имеющихся задолженностей;
                                </p>
                            </li>
                            <li>
                                <p>
                                    описание обстоятельств, помешавших выплатить долги;
                                </p>
                            </li>
                            <li>
                                <p>
                                    различные акты, в соответствии с которыми происходит списание средств со счета задолжника;
                                </p>
                            </li>
                            <li>
                                <p>
                                    перечень всей личной собственности, принадлежащей должнику, включая также банковские счета;
                                </p>
                            </li>
                            <li>
                                <p>
                                    название СРО, откуда будет выбран арбитражный управляющий;
                                </p>
                            </li>
                            <li>
                                <p>
                                    список всей прилагаемой документации.
                                </p>
                            </li>
                        </ul>
                        <p>
                            Не стоит забывать о том, что вместе с подачей заявления требуется оплатить и государственную пошлину. После чего можно направить составленное заявление в суд.
                        </p>
                        <p>
                            Стоит отметить, что есть сразу несколько вариантов, как это сделать. Должник может подать заявление сам, отправить его почтой (в этом случае потребуется также добавить список всех прилагаемых вложений), либо воспользоваться сайтом арбитражного суда. Но в последнем случае необходимо наличие обязательной регистрации на сайте Госуслуг.
                        </p>
                        <p>
                            Документ в обязательном порядке подается либо по месту прописки задолжника, либо по месту его постоянного проживания, если оно отличается.
                        </p>
                        <p>
                            После подачи всех требуемых бумаг, необходимо дождаться судебного решения о том, как именно будет проходить процесс банкротства физического лица. Долг может быть реструктурирован либо выплачен через реализацию личной собственности задолжника.
                        </p>
                        <p>
                            В случае с реструктуризацией:
                        </p>
                        <ol>
                            <li>
                                <p>
                                    Процесс занимает до трех лет.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Формируется общий график выплат для погашения долгов.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Максимально возможная часть долга оплачивается, остальная же часть – списывается. При этом задолжник не признается банкротом.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Обычно данная мера рассматривается в первую очередь, как возможная. И зачастую воплощается, как основной процесс в ходе банкротства.
                                </p>
                            </li>
                        </ol>
                        <p>
                            В случае с распродажей личной собственности:
                        </p>
                        <ol>
                            <li>
                                <p>
                                    Процесс занимает около семи месяцев.
                                </p>
                            </li>
                            <li>
                                <p>
                                    На продажу выставляется вся имеющаяся собственность, кроме единственного жилья. При условии, что на него не оформлена ипотека. Это же касается и ключевых предметов первой необходимости.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Таким образом, имущество продается на торгах, а вырученные средства отправляются на выплату долгов. Остальная часть долга списывается, а задолжник при этом признается банкротом.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Обычно данная мера рассматривается в нескольких случаях. В частности, если реструктурировать долг невозможно, если план реструктуризации не выполнен, а также, если заявитель сам пожелал пропустить процедуру реструктуризации и продать собственность.
                                </p>
                            </li>
                        </ol>
                        <p>
                            Главное условие для отмены реструктуризации – чтобы у должника не было никаких источников дохода. Но есть и другие, которые можно прочесть в ст. 123 ФЗ№127. И хотя максимальный срок этого процесса составляет три года, статистика дает понять, что в среднем ситуация разрешается примерно за 10 месяцев.
                        </p>
                        <p>
                            Что касается банкротства через продажу собственности, она вводится чаще. Что говорит о большом желании потенциальных банкротов не рассчитаться с задолженностями, а попросту списать их. Далеко не всегда благодаря реализации собственности кредитор получает хотя бы половину ожидаемой суммы.
                        </p>
                        <p>
                            Также стоит упомянуть, что в ФЗ№127 предусматривается вариант с мирной договоренностью. Если стороны его подписывают, это означает завершение всех процессов, связанных с банкротством. Вместо этого ставятся условия относительно возмещения задолженностей. Если эти условия будут нарушены кем-либо из сторон, в дело снова вступает арбитражный суд.
                        </p>
                        <p>
                            После прохождения всех этапов банкротства, судья списывает остаток задолженности, а кредиторы перестают предъявлять претензии должнику.
                        </p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-b-6">Сколько стоит банкротство через арбитраж?</a>
                    <div id="tab-b-6" class="questions__tab-content">
                        <p>
                            Прежде всего, стоит отметить, что процесс банкротства складывается из нескольких составляющих. Каждое из которых имеет собственную цену:
                        </p>
                        <ul>
                            <li>
                                <p>
                                    Государственная пошлина – в пределах 300 руб.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Оплата услуг фин. управляющего. Общая сумма составляет 25 тыс. руб. за каждую процедуру и 7% от общей суммы распроданной собственности задолжника.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Публикация информации о банкротстве в ЕФРСБ. Стоит около 400 руб. за сообщение.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Расходы на юристов. Цены зависят от прейскуранта выбранной юридической компании.
                                </p>
                            </li>
                        </ul>
                        <p>
                            Статистика 2022 года показывает, что стоимость банкротства колеблется в пределах 150-180 тыс. руб. Однако если заниматься оформлением собственными силами, эта сумма сократится в несколько раз.
                        </p>
                        <p>
                            Если у должника не будет денег, чтобы оплатить даже одну процедуру, рассмотрение банкротства будет отменено. Судебная практика демонстрирует, что четвертая часть всех процедур банкротства срываются именно по причине того, что у задолжника нет финансов для оплаты судебных расходов.
                        </p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-b-7">Внесудебное (упрощенное) банкротство</a>
                    <div id="tab-b-7" class="questions__tab-content">
                        <p>
                            Этот процесс для РФ уже не нов. Закон о нем был введен в середине 2020 года. Упрощенный вариант больше всего подходит для списания безнадежных задолженностей на не такие крупные суммы, как в случае с долгами, взыскиваемыми через суд.
                        </p>
                        <p>
                            В этом случае физическое лицо имеет право признать собственную несостоятельность без необходимости в обращения в арбитраж, а значит, и без лишних связанных с этим растрат. Для того, чтобы списать задолженность, всего-то и нужно, что направить заявление в Многофункциональный центр (он же МФЦ).
                        </p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-b-8">Когда можно обратиться за помощью?</a>
                    <div id="tab-b-8" class="questions__tab-content">
                        <p>
                            Для оформления внесудебного банкротства должник должен подпадать под следующие условия:
                        </p>
                        <ul>
                            <li>
                                <p>
                                    доход ниже прожиточного минимума либо отсутствует полностью;
                                </p>
                            </li>
                            <li>
                                <p>
                                    все исполнительные производства закрыты в связи с невозможностью выплатить долг;
                                </p>
                            </li>
                            <li>
                                <p>
                                    задолженность составляет не меньше 50, но не больше 500 тыс. руб.;
                                </p>
                            </li>
                            <li>
                                <p>
                                    нет собственности, которую можно продать для погашения долга.
                                </p>
                            </li>
                        </ul>
                        <p>
                            Удостовериться в статусе исполнительных производств можно с помощью сайта ФССП. Этот вариант банкротства полностью бесплатный, а сама процедура составляет не больше полугода.
                        </p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-b-9">Как происходит упрощенное банкротство?</a>
                    <div id="tab-b-9" class="questions__tab-content">
                        <p>
                            Далее прилагается краткая инструкция о списании долгов, благодаря внесудебному процессу:
                        </p>
                        <ol>
                            <li>
                                <p>
                                    Задолжник должен подать заявление о банкротстве.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Сотрудники Многофункционального центра обязаны проверить его на соответствие всем предписанным условиям.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Начинается процесс наблюдения длительностью в полгода.
                                </p>
                            </li>
                            <li>
                                <p>
                                    По завершении задолжник официально становится банкротом, а все его долги списываются.
                                </p>
                            </li>
                        </ol>
                        <p>
                            Однако есть нюанс. В частности, если за эти полгода должник приобретет ликвидную собственность (т.е., ту, которую можно легко продать), в таком случае процесс банкротства без судебного вмешательства будет аннулирован. После чего будет передан в арбитражный суд, где задолжнику придется обеспечить все соответственные растраты.
                        </p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-b-10">Ключевая разница между арбитражным и упрощенным банкротством</a>
                    <div id="tab-b-10" class="questions__tab-content">
                        <p>
                            Банкротство через арбитраж оформляется, если задолженность физлица составляет сумму не меньше 500 тыс. руб. и выплаты не осуществляются уже свыше одного квартала. В отличие от упрощенного банкротства, этот процесс может растянуться на годы.
                        </p>
                        <p>
                            Если при упрощенном банкротстве заявление подает сам неплательщик, то в случае с судебным процессом, иск может его кредитор, либо уполномоченное лицо. Для начала процесса требуется оплатить госпошлину, а также множество других пунктов, включая также публикации новостей о ходе процесса.
                        </p>
                        <p>
                            Пока длится судебный процесс, потенциальный банкрот не может выехать заграницу, взять еще один кредит либо открыть банковский вклад. А вся его собственность контролируется финансовым управляющим.
                        </p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-b-11">Какие сделки можно оспаривать при банкротстве?</a>
                    <div id="tab-b-11" class="questions__tab-content">
                        <p>
                            Оспаривать в этом случае можно сделки безвозмездного типа. К примеру, это может быть сделка, касающаяся дарения либо наследства. Результатом может обернуться возврат собственности либо суммы денег, которую получил кредитор, обратно в конкурсную массу. Остальные виды сделок оспаривать нельзя.
                        </p>
                        <p>
                            Если задолжник погасил долг, может встать вопрос о том, была ли эта сделка возмездной либо безвозмездной. Может, в том числе, образоваться проблема контроля средств. К примеру, если кредитор получил имущество и продал его.
                        </p>
                        <p>
                            Важный момент! Если речь идет о кредите, обеспеченным ипотекой либо, к примеру, залоговым личным транспортом, проведение банкротства невозможно.
                        </p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-b-12">Каковы последствия процесса банкротства?</a>
                    <div id="tab-b-12" class="questions__tab-content">
                        <p>
                            Не стоит торопиться в арбитраж либо МФЦ. Прежде чем принять статус банкрота, следует уточнить, каких нужно ожидать последствий. Важно понимать, что в данной ситуации есть не только плюсы. Но и отрицательные моменты.
                        </p>
                        <p>
                            В частности:
                        </p>
                        <ul>
                            <li>
                                <p>
                                    В течение пяти лет после признания банкротства, требуется сообщать об этом банкам перед оформлением новых кредитов.
                                </p>
                            </li>
                            <li>
                                <p>
                                    В течение трех лет нельзя открывать собственный бизнес или занимать высокопоставленную должность.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Нельзя выезжать заграницу до оглашения постановления суда.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Нельзя совершать банковские операции.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Повторно банкротство можно оформить через пять лет для арбитражного варианта и через десять – для упрощенного.
                                </p>
                            </li>
                        </ul>
                        <p>
                            Нельзя не отметить, что отдельные недостатки процедуры довольно весомы. Но физические лица, находясь под грузом задолженностей, весьма охотно соглашаются на подтверждение собственной неплатежеспособности. К тому же, положительные стороны процесса перекрывают все отрицательные.
                        </p>
                        <p>
                            После признания физлица банкротом:
                        </p>
                        <ul>
                            <li>
                                <p>
                                    Исполнительные производства замораживаются.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Неустойки и пени больше не начисляются.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Коллекторы больше не могут беспокоить задолжника.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Прекращается требование выплат по долгам, включая также и наложенные штрафы.
                                </p>
                            </li>
                        </ul>
                        <p>
                            Банкротство физлиц это на самом деле непростой процесс, подходить к которому требуется со всей ответственностью. Без посредничества опытных специалистов потенциальному банкроту будет очень сложно признать собственную неплатежеспособность и избавиться от задолженностей без серьезных потерь. Ведь кредиторы обычно стараются выжать из задолжника максимально возможные суммы.
                        </p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-b-13">Какие существуют ограничения?</a>
                    <div id="tab-b-13" class="questions__tab-content">
                        <p>
                            Помимо плюсов и минусов, существуют также еще и определенные ограничения. Они накладываются на физическое лицо на время всего процесса. Потенциальный банкрот не может:
                        </p>
                        <ul>
                            <li>
                                <p>
                                    брать займы либо оформлять договор пожизненного содержания;
                                </p>
                            </li>
                            <li>
                                <p>
                                    продавать собственность, если его ценовая категория составляет больше десяти минимальных зарплат;
                                </p>
                            </li>
                            <li>
                                <p>
                                    становиться поручителем чужой задолженности.
                                </p>
                            </li>
                        </ul>
                        <p>
                            Помимо этого, арбитражный судья имеет право наложить и прочие ограничения. К примеру, это может быть арест личной собственности или подписание любого рода договоров.
                        </p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-b-14">Что должнику придется потерять?</a>
                    <div id="tab-b-14" class="questions__tab-content">
                        <p>
                            Физлицу придется распрощаться с большей частью личной собственности. Обычно это поручается арбитражному управляющему. В его обязанности входит проведение инвентаризации, проведение встреч с кредиторами, а также принятие их требований. Также он должен открыть отдельный банковский счет, куда будут перечисляться все деньги от реализации имущества.
                        </p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-b-15">Что должнику оставят?</a>
                    <div id="tab-b-15" class="questions__tab-content">
                        <p>
                            Продавать нельзя жилплощадь. Но здесь тоже есть определенные условия. Она должна быть:
                        </p>
                        <ul>
                            <li>
                                <p>
                                    единственным местом жительства для семьи задолжника;
                                </p>
                            </li>
                            <li>
                                <p>
                                    площадью до 60 «квадратов» для квартиры и до 120 – для частного дома;
                                </p>
                            </li>
                            <li>
                                <p>
                                    принадлежащей должнику (не является залогом или не взята в ипотеку).
                                </p>
                            </li>
                        </ul>
                        <p>
                            Кроме того, в распоряжении банкрота все еще останутся счета фондов соцстрахования и пенсии.
                        </p>
                        <p>
                            Не будет продана собственность, которая требуется для удовлетворения ежедневных потребностей для банкрота и его семьи. В дополнение к этому, из списка судья может исключить собственность банкрота стоимостью не выше 30 минимальных зарплат. При условии, что ее нельзя назвать ликвидной.
                        </p>
                        <p>
                            Также в пользовании банкрота останутся вещи, на которые по закону нельзя налагать взыскания. К примеру, это одежда и обувь, украшения, не относящиеся к предметам роскоши. А также, например, имущество, которое требуется должнику для осуществления рабочей деятельности. Но, при условии, что это имущество не стоит дороже 10 тыс. руб. Более подробно об этом прописано в ст. 446 ГПК РФ.
                        </p>
                        <p>
                            Кроме прочего, кредиторы не смогут забрать имущество, которое принадлежит родственникам потенциального банкрота. Однако они добровольно могут принять участие в том, чтобы помочь банкроту выплатить задолженность.
                        </p>
                        <p>
                            Но стоит также учитывать, что банкротство не является панацеей. Реструктуризацию задолженности можно выполнить, не начиная процесса банкротства в любом его проявлении.
                        </p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-b-16">Может ли потенциальный банкрот заранее переписать собственность?</a>
                    <div id="tab-b-16" class="questions__tab-content">
                        <p>
                            Нет. Поскольку с началом производственных мер вводится мораторий на подобные действия должника.
                        </p>
                        <p>
                            С другой стороны, что если такое действие осуществилось перед началом банкротства? Если это произошло в течение последних трех лет, в таком случае арбитражный судья может добавить данное имущество к конкурсной массе. Он может даже отказать в открытии дела о банкротстве, при условии, что общей суммы будет достаточно для погашения задолженности.
                        </p>
                        <p>
                            Отсюда следует вывод, что переписывать личную собственность на родственников не дает никакого результата. Разве что в том случае, если сделано это было не меньше чем за три года до открытия дела о несостоятельности.
                        </p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-b-17">Когда неплательщику может быть отказано в списании задолженности?</a>
                    <div id="tab-b-17" class="questions__tab-content">
                        <p>
                            В процессе банкротства судья имеет право отказать в списании остатка долга. Основной для этого повод – уклонение от выплат.
                        </p>
                        <p>
                            К примеру. Неплательщик имел все возможности для осуществления выплат по задолженности. Однако не предпринимал для этого никаких мер. Либо даже совершал проступки, приведшие только к повышению суммы задолженности.
                        </p>
                        <p>
                            К таким проступкам относится, в частности, уклонение от выполнения своих обязательств через сокрытие либо уничтожение собственности. К примеру, если заемщик не выплачивает кредит, а личное имущество переписывает на других людей.
                        </p>
                        <p>
                            Суд может отказать, в том числе, если, задолжник:
                        </p>
                        <ul>
                            <li>
                                <p>
                                    не представил запрошенные документы;
                                </p>
                            </li>
                            <li>
                                <p>
                                    не пришел на судебный процесс без существенных причин;
                                </p>
                            </li>
                            <li>
                                <p>
                                    обманул судью, представляя информацию о своем текущем денежном положении, доходах и месте работы.
                                </p>
                            </li>
                        </ul>
                        <p>
                            Долг не будет списан, если выяснится, что банкротство было фиктивным. В этом случае неплательщик может даже быть привлеченным к уголовной ответственности.
                        </p>
                        <p>
                            Под фиктивным процессом понимается, что по факту задолжник обладает всеми возможностями, чтобы погасить долг, но намеренно создает видимость тяжелого материального положения, чтобы этого не делать. Для подтверждения неплательщик предоставляет недостоверную документацию.
                        </p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-b-18">Так ли необходимы юристы по банкротству?</a>
                    <div id="tab-b-18" class="questions__tab-content">
                        <p>
                            Люди этой профессии действительно могут сильно упростить жизнь потенциального банкрота. Уже упоминалось, что банкротство, само по себе, дело сложное. И помощь юриста соответствующей области позволит пройти через это с минимумом затрат. У банкротства есть и плюсы, и минусы. И грамотный юрист способен сделать официальное банкротство положительным событием для должника.
                        </p>
                        <p>
                            В частности, он позволит сохранить нервную систему, сберечь время и даже сэкономить деньги. Последнее кажется удивительным, но если разобраться, это действительно так. Разумеется, за услуги нужно будет оплачивать. И все же эта сумма меньше, чем размеры и самой задолженности, и ежемесячных выплат.
                        </p>
                        <p>
                            Юрист сможет рассказать, когда пора прекратить выплаты по задолженностям, как это официально оформить и как нужно поступить, чтобы результат принес должнику только выгоду.
                        </p>
                        <p>
                            К тому же, неоспоримое преимущество работы с юристом – освобождение от общения с кредиторами. Все переговоры с банками, коллекторами и другими будет вести он. Как и заниматься подготовкой документов и походами в судебные учреждения. Это безопасность и гарантия результата.
                        </p>
                    </div>
                </div>

                <div class="questions__tab">
                    <a class="questions__tab-title" data-target="#tab-b-19">В заключении</a>
                    <div id="tab-b-19" class="questions__tab-content">
                        <p>
                            Уже после того как банкротство будет закончено, бывшему должнику требуется пройти в налоговую службу по месту жительства. И там направить заявление о том, что его долги были признаны безнадежными. К заявлению требуется приложить все необходимые бумаги. В частности, это справки о долгах и судебное постановление. Решение о списании задолженности принимается в течение суток. После чего состоявшийся банкрот свободен от долговых обязательств.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>