<div class="sleep">
    <div class="wrapper">
        <h2 class="title title_center">Вы можете спать спокойно, если начали с нами сотрудничать</h2>
        <div class="sleep__content">

            <div class="sleep__img"></div>

            <div class="sleep__info">
                <h3 class="sleep__title">Система контроля</h3>
                <p class="sleep__text">
                    С вами будет работать юрист, который уже достигал успеха по похожим делам. Качество предоставляемых услуг также контролируется старшим юристом и управляющим. 
                </p>
            </div>

        </div>
    </div>
</div>