<div class="wait-you">
    <div class="wrapper">
        <h2 class="title title_center">Что вас ждет при работе с нами:</h2>
        <div class="wait-you__content">

            <div id="wait-you__block" class="wait-you__block wait-you__block_one">

                <div class="wait-you__info">
                    <h3 class="wait-you__title">15 минут бесплатного общения, где определяется ваша проблема</h3>
                    <p class="wait-you__text">Квалифицированный юрист внимательно вас выслушает, даст первичную оценку и рекомендации по дальнейшим действиям.</p>
                </div>

                <div class="wait-you__img">
                    <img id="img-mac" src="img/wait-you/mac.png" alt="macbook" data-aos="zoom-out-left">
                </div>

            </div>

            <div id="wait-you__block" class="wait-you__block wait-you__block_two">

                <div class="wait-you__info">
                    <h3 class="wait-you__title">Проводим первичный анализ</h3>
                    <p class="wait-you__text">Мы анализируем ваш случай и предыдущую практику, смотрим актуальную историю судебного процесса и договариваемся с вами о следующей встрече.</p>
                </div>

                <div class="wait-you__img">
                    <img id="img-book" src="img/wait-you/book.png" alt="macbook" data-aos="zoom-out-right">
                </div>

            </div>

            <div id="wait-you__block" class="wait-you__block wait-you__block_three">

                <div class="wait-you__info">
                    <h3 class="wait-you__title">На встрече обсуждаем пути решения вашего дела</h3>
                    <p class="wait-you__text">Мы презентуем вам несколько стратегий, с которыми можно прийти к необходимому результату. Выбираем с вами наилучший вариант и подписываем договор.</p>
                </div>

                <div class="wait-you__img">
                    <img id="img-strat-1" src="img/wait-you/strategic.png" alt="macbook" data-aos="zoom-out-left">
                    <img id="img-strat-2" src="img/wait-you/strategic-2.png" alt="macbook" data-aos="zoom-out-left">
                </div>

            </div>

            <div id="wait-you__block" class="wait-you__block wait-you__block_four">

                <div class="wait-you__info">
                    <h3 class="wait-you__title">Выполняем свои обязательства и отправляем отчет по каждому этапу</h3>
                    <p class="wait-you__text">Вы получаете отчет после каждого этапа в мессенджере, где поддерживаете связь с вашим юристом. Там же можете задать вопрос по вашему делу в любое время.</p>
                    <div class="wait-you__btn">
                        <a class="btn">Бесплатная консультация</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
